@import './mixins.scss';
@import './global.scss';

.navBarGeneral {

    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imgBox {

        img {

            height: 60px;
        }
    }


}